.asset-container {
  margin: 5px 15px 15px 15px;
}
.wallet-container {
  border-radius: 12px;
  overflow: hidden;
  margin: 5px 24px 20px;
  background-image: url("../../images/card_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 1);
  padding: 15px;
  box-shadow: 0px 10px 12px #fbcdcd;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.staking-gov-btn-container {
  margin: 15px;
}

.staking-btn {
  background-color: #ffffff!important;
  width: 160px;
  height: 40px;
  margin-right: 10px!important;
}

.governance-btn {
  background-color: #ffffff!important;
  width: 160px;
  height: 40px;
}

.staking-btn:hover, .governance-btn:hover {
  background-color: rgba(0, 0, 0, 0.1)!important;
}

.assets-list-wrap {
  margin-top: 15px;
}
.assets-box{
  max-height: 250px;
  overflow-y: auto;
  padding: 5px 24px;
}
.assets-list-title {
  margin-left: 24px;
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}

.assets-list-item {
  cursor: pointer;
  width: 100%;
  height: 70px;
  padding: 0 16px;
  background: #F9F9F9;
  border-radius: 12px;
  transition: all ease 0.3s;
}
.assets-list-item+.assets-list-item{margin-top: 12px;}
.assets-list-item:hover {
  background: rgb(167 167 167 / 10%);
  box-shadow: 0px 2px 5px #d7d7d7;
  transform: scale(1.01);
}
.assets-list-item:hover span{
  color: #000;
}
.asset-list-left {
  float: left;
}

.asset-list-left img, .asset-list-left span, .asset-list-right img, .asset-list-right span {
  vertical-align: middle;
  line-height: 70px;
  color: #282828;
}

.asset-list-left span {
  font-size: 16px;
}

.asset-list-left img {
  width: 40px;
  height: 40px;
  padding: 5px;
  background: white;
  border-radius: 50%;
  margin-right: 10px;
}

.asset-list-right {
  float: right;
}

.asset-list-right span {
  font-size: 14px;
}

.asset-list-right img {
  width: 12px;
  height: 12px;
  margin-left: 15px;
}

.dashboard-button-wrap {
  position: absolute;
  top: 535px;
  left: 0;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  align-self: center;
  justify-content: center;
  display: flex;
}

.assets-btn {
  font-size: 14px;
  height: 45px;
  border: 1px solid #FB822A !important;
  border-radius: 26px !important;
  width: 152px;
  color: #FB822A!important;
  font-family: Inter-Bold !important;
}

.assets-btn:hover {
  background: rgba(255, 205, 168, 0.35)!important;
}
.addBtn{
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 16px;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(0 0 0 / 26%);
  transition: all ease 0.3s;
}
.addBtn:hover{
  transform: scale(1.1);
  box-shadow: 0 0 5px #959595;
}
.addBtn img{
  width: 32px;
  vertical-align: middle;
  margin: 0 auto;
}
