.wallet-container {
  background-color: rgba(163, 44, 113, 1);
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 1);
  height: 75px;
  width: 100%;
  padding: 18px 21.83px 13px 19px;
}

.token-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #a32c71, #d75fa0);
  height: 142px;
  width: 100%;
  padding: 4px 18px 16px 18px;
}

.transaction-container {
  display: flex;
  flex-direction: column;
}
