.sign-message-summary-request-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  padding-bottom: 10px;
}

.sign-message-summary-container {
  display: flex;
  flex-direction: column;
}

.sign-message-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  padding: 19px 33px 12px 33px;
}

.sign-message-disclaimer {
  background-color: rgba(38, 38, 38, 1);
  width: 321px;
  height: 77px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 9.66px 12.49px 6.34px 12px;
}

.sign-message-summary-account-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 11px;
}

.sign-message-title{
  margin-top: 11.66px;
  color:rgba(0, 0, 0, 0.87);
  font-size: 16px;
}

.sign-message-body{
  color:rgba(77, 77, 77, 1);
  margin-top: 4px;
}

.signedmessage-data{
  margin: 1px;
  display: flex;
  flex-flow: column;
  max-height: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
}