.content-header-container {
  display: flex;
  flex-direction: column;
}

.content-header-title {
  font-weight: bolder;
  font-size: 16px;
}

.content-header-description {
  padding-top: 6px;
  font-size: 12px;
  color: #8A8C9B;
}
