.account-info-wrapper {
  margin: 15px 18px;
  height: 70px;
  padding: 15px 10px;
  background: linear-gradient(94.54deg, #ff8212 0%, #ed4454 100%);
  box-sizing: border-box;
  border-radius: 10px;
}

.account-info-alias {
  font-family: Inter-Bold;
  font-size: 14px;
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
}

.account-info-address {
  color: rgba(255, 255, 255, 0.5);
}

.account-connect-status {
  float: right;
  margin-top: -15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  padding: 5px;
}

.account-connect-status span:before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 5px;
}
