.sign-up-container {
  padding: 30px 18px 0 18px;
  display: flex;
  flex-direction: column;
}

.sign-up-password {
  display: flex;
  width: 321px;
  height: 54.82px;
}

.sign-up-password fieldset {
  border: 0;
  font-size: 14px;
  background-color: rgb(173 173 173 / 16%);
}
.MuiIconButton-root:hover{
  background:none !important;
}
.MuiIconButton-label > div{
  display: flex;
  justify-self: center;
}
.sign-up-password:focus-within fieldset {
  background-color: transparent;
  border: 1px solid #BEC1D6 !important;
}

.input-margin {
  margin-top: 12px !important;
}

.sign-up-password-meter {
  margin-top: 50px;
}

.key-pair-crypto-type {
  margin-top: 50px;
  align-self: center;
}

.wallet-name-margin {
  margin-top: 20px !important;
  font-size: 12px;
}

.error-msg {
  color: #FA5050;
  font-size: 12px;
  line-height: 20px;
  height: auto;
}

.inputTitle{
  line-height: 18px;
  margin: 12px 0 8px;
  font-size: 12px;
  color: #666;
}

.place-holder {
  line-height: 20px;
}