.sign-up-container {
  padding: 30px 18px 0px 18px;
  display: flex;
  flex-direction: column;
}

.sign-up-password {
  display: flex;
  margin-top: 12px;
  width: 321px;
  height: 54.82px;
}

.input-margin {
  margin-top: 12px !important;
}

.sign-up-password-meter {
  margin-top: 50px;
}

.key-pair-crypto-type {
  margin-top: 50px;
  align-self: center;
}

.wallet-name-margin {
  margin-top: 30px !important;
  font-size: 12px;
}