.create-account-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 30px;
  padding-left: 18px;
  padding-right: 18px;
}

.create-account-settings {
  position: absolute;
  top: 260px;
  left: 18px;
  width: 321px;
}

.button-primary button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(208, 56, 107, 1);
  width: 57.12px;
  height: 36px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Roboto-Medium";
}

.button-secondary button {
  background-color: rgba(208, 56, 107, 1);
  color: rgba(255, 255, 255, 1);
  width: 57.12px;
  height: 36px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Roboto-Medium";
}

.button-md-dashboard button {
  background-color: rgba(208, 56, 107, 1);
  color: rgba(255, 255, 255, 1);
  width: 147.12px;
  height: 36px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Roboto-Medium";
}

.button-primary button:hover {
  background-color: rgba(245, 245, 246, 1);
}

.button-secondary button:hover {
  background-color: rgba(198, 46, 97, 1);
}