.create-account-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 30px;
  padding-left: 18px;
  padding-right: 18px;
}

.create-account-settings {
  position: absolute;
  top: 260px;
  left: 18px;
  width: 321px;
}
