.button-sm-primary button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(208, 56, 107, 1);
  width: 93px;
  height: 36px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Roboto-Medium";
}

.button-sm-secondary button {
  background-color: rgba(208, 56, 107, 1);
  color: rgba(255, 255, 255, 1);
  width: 93px;
  height: 36px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Roboto-Medium";
}

.button-sm-dashboard button {
  background-color: rgba(208, 56, 107, 1);
  color: rgba(255, 255, 255, 1);
  width: 93px;
  height: 36px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Roboto-Medium";
}

.button-sm-primary button:hover {
  background-color: rgba(245, 245, 246, 1);
}

.button-sm-secondary button:hover {
  background-color: rgba(198, 46, 97, 1);
}

.button-sm-dashboard button:hover {
  background-color: rgba(198, 46, 97, 1);
}

.icon-spacing {
  margin-right: 5px;
}
