.display-none {
  display: none;
}

.enzyme-logo {
  width: 36px;
  height: 28px;
}

.enzyme-banner {
  height: 23px;
}

.enzyme-header {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 1);
  padding: 11px 17.1px 11px 15px;
  height: 50px;
  width: 360px;
  align-items: center;
}

.enzyme-header-banner {
  justify-content: center;
}

.enzyme-header-boarded {
  justify-content: space-between;
}

.enzyme-network {
}

.enzyme-network-status {
  margin-right: 13.37px;
}

.enzyme-config {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.enzyme-settings {
  margin-left: 16px;
  align-self: center;
  display: flex;
  flex-direction: row;
}
