*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #f5f5f6;
  min-height: 600px !important;
  height: 600px !important;
  max-height: 600px !important;
  width: 360px;
  max-width: 360px;
  min-width: 360px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button:hover,
a:hover,
.clickable-icon:hover {
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: transparent !important ;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

body ::-webkit-scrollbar-thumb {
  background: rgba(128, 135, 139, 0.8);
}

p {
  margin: 0px;
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Regular"),
    url("../../browser/assets/Fonts/Roboto/Roboto-Regular.ttf")
      format("trueType");
}

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Light"),
    url("../../browser/assets/Fonts/Roboto/Roboto-Light.ttf") format("trueType");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Medium"),
    url("../../browser/assets/Fonts/Roboto/Roboto-Medium.ttf")
      format("trueType");
}

.offlineError {
  height: 30px !important;
  color: #fff;
  padding-left: 5px;
  padding-top: 3px;
  font-family: "Roboto-Regular";
}

.block-ui-message-container {
  position: absolute;
  top: 46% !important;
  left: 43% !important;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10001;
}
.app {
  height: 600px;
}
