.account-avatar {
  margin-right: 11px;
}

.account-detail-container {
  width: 100%;
  background-image: url("../../images/tao_sy.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.account-detail {
  display: flex;
  flex-direction: column;
}

.account-list-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 29.18px;
}
