.text-container {
    color: white;
    padding: 10px;
    flex: 1;
}

.account-name {
    font-family: Inter-Bold;
    font-size: 13px;
    margin-bottom: 10px;
}

.address {
    font-family: Inter-Regular;
    font-size: 11px;
}


.card-container {
    height: 60px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
}