.footer-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 14px;
  padding: 0 16px;
}

.footer-content {
  justify-self: center;
  align-self: center;
  width: 100%;
}
