.transaction-item {
  display: flex;
  flex-direction: row;
  padding-left: 18px;
  padding-top: 16px;
  padding-right: 12px;
  height: 65px;
  width: 360px;
}

.transaction-item-wrapper {
  cursor: pointer;
}

.transaction-item-wrapper:hover {
  background-color: #f2f2f2;
}
