.manage-address-book {
  height: 460px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.manage-address-book-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -10px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}

.address-book-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  color: #000000;
  width: 100%;
  align-self: center;
}

.empty-list-text {
  margin: 20px 34.5px;
  font-size: 20px;
  text-align: center;
}

.address-book-add-button {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  vertical-align: bottom;
}

.add-address-btn {
  float: right;
  cursor: pointer;
  font-family: Inter-Bold;
  color: #FB822A;
  background: rgba(251, 130, 42, 0.1);
  padding: 7px 16px;
  border-radius: 20px;
  margin-top: -25px;
}
