.button-xl{text-align: center; width: 100%;}
/* .button-xl button {
  font-size: 14px;
  font-family: "Inter-Bold";
  font-style: normal;
  height: 48px;
  width: 320px;
  background: #F23E5F;
  color: #FFFFFF;
}
.button-xl button:hover{
  background: #F23E5F;
  color: #FFFFFF;
  opacity: 0.8;
}
.button-xl button:disabled, .button-xl button[disabled] {
  color: #fff;
  background: #F23E5F;
  opacity: 0.2;
} */