.dapp-requests-container {
  height: 505px;
  overflow-x: hidden;
  overflow-y: auto;
}

.dapp-requests-card {
  background-color: rgba(255, 255, 255, 1);
  margin: 1.8% 1.8% 0px 2%;
  width: 96%;
  padding: 10px 13.85px 17px 13px;
}
