.transaction-list-container {
  height: 198px;
  overflow-x: hidden;
  overflow-y: auto;
}
.transaction-message {
  padding: 10px 18px;
}

.transactions-header {
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  padding: 18px;
  height:54px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);;
}
