.display-none {
  display: none;
}

.clover-logo {
  width: 36px;
  height: 28px;
}

.clover-banner {
  height: 30px;
}

.clover-header {
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
  padding: 11px 17.1px 11px 15px;
  height: 60px;
  width: 360px;
  align-items: center;
}

.clover-header-banner {
  justify-content: left;
}

.clover-header-boarded {
  justify-content: space-between;
}

.clover-network {
}

.clover-network-status {
  margin-right: 13.37px;
}

.clover-config {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clover-settings {
  margin-left: 16px;
  align-self: center;
  display: flex;
  flex-direction: row;
}
