.account-alias {
  font-size: 16px;
  font-family: Inter-Regular;
  line-height: 30px;
  margin-left: 10px;
}

.account-address {
  font-size: 12px;
  width: 90px;
}

.account-address:hover {
  cursor: pointer;
}

.address {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
}

.copy-card-container {
  margin-top: 5px;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}

.card-address {
  font-size: 10px;
  margin-right: 15px;
  color: #ffffff;
  font-family: Inter-Regular;
}

.card-balance {
  font-family: Inter-Regular;
  font-size: 24px;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 10px;
}

.card-input-root {
  font-size: 16px !important;
  border-radius: 8px !important;
  border: none !important;
}

.card-input {
  padding: 5px 5px 5px 10px !important;

}

.card-input-focused {
  color: white !important;
  border: 1px solid rgba(236, 237, 239, 0.5) !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
