.pillstatus-text {
  font-size: 8px;
  align-self: center;
  font-family: Inter-Regular;
}

.pillstatus-box {
  display: flex;
  flex-direction: row;
  width: 60px;
  height: 16px;
  border-radius: 3px;
  border: none;
  justify-content: center;
  margin-top: -20px;
}
