.pillstatus-text {
  font-size: 8px;
  font-family: "Roboto-Regular";
  align-self: center;
}

.pillstatus-box {
  display: flex;
  flex-direction: row;
  width: 61.78px;
  height: 16.58px;
  border-radius: 16px;
  border: none;
  justify-content: center;
}
