.wallet-multiline-input {
  width: 320px;
  color: #fb822a;
  font-family: "Inter";
  font-weight: bold;
  font-size: 14px;
  transition: border-color 200ms ease-in-out;
}

.wallet-multiline-error {
  border-color: #ff0000;
  opacity: 0.6;
}
.wallet-multiline-error::placeholder {
  color: #ff0000;
  opacity: 0.6;
}
