.transfer-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 276.02px;
}

.transaction-item-details-amount {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.transaction-item-status-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}
