.address-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  cursor: pointer;
  background-color: #ffffff;
  position: relative;
}

.address-card-container:hover {
  background-color: #FAFAFA;
}
