.copy-container {
  background: rgba(251, 130, 42, 0.1);
  border-radius: 5px;
  color: #fb822a;
  display: inline-block;
  margin: 10px 0;
  padding: 5px;
}

.copy-container:hover {
  background: #fb822a;
  color: white;
}

.copy-container .copy-image {
  background: url("../../../images/copy.svg") no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-top: -6px;
  vertical-align: middle;
}

.copy-container:hover .copy-image {
  background: url("../../../images/copy_hover.svg") no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-top: -6px;
  vertical-align: middle;
}

/* svg:hover {
  fill: red;
} */
