.manage-accounts {
  height: 480px;
  overflow: hidden;
  position: relative;
}
.manage-accounts-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -10px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}
.accounts-container {
  background-color: #f5f5f6;
  display: flex;
  flex-direction: column;
  color: #000000;
  width: 100%;
  align-self: center;
}

.token-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #a32c71, #d75fa0);
  height: 142px;
  width: 100%;
  padding: 4px 18px 16px 18px;
}

.account-add-account-button {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  vertical-align: bottom;
}

.manage-account-list {
  padding-top: 0!important;
  height: 415px!important;
  overflow: hidden!important;
}
