.container {
    display: flex;
    flex-direction: column;
}

.panel-container {
    display: flex;
    padding: 16px !important;
    padding-left: 0 !important;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.left-panel {
    width: auto !important;
    margin-right: 18px !important;
    height: 430px;
    padding-left: 16px;
    box-sizing: content-box;
    overflow-y: auto;
    position: relative;
}
/* .left-panel > img.active{
    background: none;
}
.left-panel > img{
    background-color: #e0e0e0;
    border-radius: 50%;
    overflow: hidden;
} */
.activeStatus{
    position: absolute;
    left: 0;
    width: 4px;
    height: 18px;
    background: #F23E5F;
    transition: all ease 0.3s;
}
.right-panel {
    flex: 1;
    height: 430px;
    overflow-y: scroll;
}

.left-panel::-webkit-scrollbar, .right-panel::-webkit-scrollbar { width: 0 !important }
.left-panel, .right-panel { overflow: -moz-scrollbars-none; }

.split {
    width: 30px;
    height: 1px;
    display: block;
    background-color: #fff !important;
    margin: 10px 0;
}

.split-select {
    background-color: #fff !important;
}

.can-click {
    cursor: pointer;
}

.card-logo {
    margin-right: 10px;
}

.footer {
    align-self: center;
    margin-top: 22px;
    display: flex;
    cursor: pointer;
}

.close {
    color: #000000;
    margin-left: 15px;
    font-family: "Roboto-Regular";
    font-size: 16px;
}
